body {
  background-color: #fff;
}

.red {
  color: red
}

.black {
  color: black
}

.green {
  color: green
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

#header-container h1 {
  font-family: 'Kalam', cursive;
  font-size: 64px;
  font-style: italic;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li a {
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
  background-color: #E50c39;
  color: #ffffff;

}
.main-content h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 2px;
  color: #000000;
  font-family:'oswald',sans-serif;
}
